<head>
<script type="application/x-javascript" src="u4world.js"></script>
<script type="application/x-javascript" src="u5world.js"></script>
<script type="application/x-javascript" src="u4look.js"></script>
<script type="application/x-javascript" src="u5look.js"></script>
<script type="application/x-javascript" src="ibm_ch.js"></script>
<script type="application/x-javascript" src="runes_ch.js"></script>
<script type="application/x-javascript" src="signs.js"></script>

<script>
function onLoad() {
  var h4 = [];
  var h5 = [];
  for (var i = 0; i < 256; ++i) h4[i] = h5[i] = 0;
  for (var i = 0; i < 256; ++i) {
    for (var j = 0; j < 256; ++j) {
      h4[map4[i][j]]++;
      h5[map5[i][j]]++;
    }
  }
  var s = "<table><tr><th>tile<th>UltimaIV<th><th><th>UltimaV<th>\n";
  for (var i = 0; i < 256; ++i) {
    if (h4[i] || h5[i]) {
      s += "<tr><td>" + i;
      if (h4[i]) 
        s += 
          "<td>" + h4[i] + 
          "<td>" + tileimage(i, "tile4") +
          "<td style=text-align:left>" + u4look[i];
      else 
        s += "<td><td><td>";
      if (h5[i]) 
        s += 
          "<td>" + h5[i] + 
          "<td>" + tileimage(i, "tile5") + 
          "<td style=text-align:left>" + u5look[i];
      else 
        s += "<td><td><td>";
    }
  }
  s += "</table>";
  document.getElementById("histogram").innerHTML = s;

  s = "";
  for (var i = 0; i < 128; ++i) {
    s += String.fromCharCode(i) + " ";
    if (i % 16 == 15) s += "\n";
  }
  document.getElementById("charset").innerHTML = s;

  var ibmcon = document.getElementById("ibm_ch").getContext("2d");
  var runcon = document.getElementById("runes_ch").getContext("2d");
  var N = 4;
  for (var i = 0; i < 128; ++i) {
    var y = Math.floor(i/16) * N * 8;
    for (var row = 0; row < 8; ++row) {
      var x = (i % 16) * N * 8;
      for (var mask = 0x80; mask; mask >>= 1) {
        ibmcon.fillStyle = (ibm_ch[i][row] & mask) ? "white" : "black";
        ibmcon.fillRect(x,y,N,N);
        runcon.fillStyle = (runes_ch[i][row] & mask) ? "white" : "black";
        runcon.fillRect(x,y,N,N);
        x += N;
      }
      y += N;
    }
  }
        
  var tiledim = 16;
  var scale = 2;
  var chardim = 8;
  var dchardim = chardim * scale;
  var char_grid_width = 16;
  function runes(string) {
    var s = "";
    for (var i = 0; i < string.length; ++i) {
      var index = string[i];
      var font = "R";
      if (index >= 128) {
        index -= 128;
        font = "5";
      }
      s += "<canvas width=" +dchardim + " height=" + dchardim + 
        " class=char" + font + " " +
        "style='background-position:-" + 
        (dchardim * (index % char_grid_width)) + "px -"+
        (tiledim * Math.floor(index / char_grid_width)) + "px'>" + 
        "</canvas>";
      if ((i % 16) == 15) s += "<br>";
    }
    return s;
  }

  var rs = "<table class=rt><tr><th>loc<th>x<th>y<th>z<th>runes";
  for (var i = 0; i < signs.length; ++i) {
    var sign = signs[i];
    rs += "<tr><td>" + 
      [sign.location,sign.x,sign.y,sign.z,runes(sign.text)].join("<td>");
  }
  document.getElementById("signs").innerHTML = rs + "</table>";
}
   
function tileimage(index, set) {
  var tiledim = 16;
  var grid_width = 16;
  return "<canvas width=" + tiledim + " height=" + tiledim + " class=" + set +
         " style='background-position:-" + 
                 (tiledim * (index % grid_width)) + "px -"+
                 (tiledim * Math.floor(index / grid_width)) + "px'></canvas>";
}

function save(id) {
  window.open(document.getElementById(id).toDataURL());
}

</script>

<style>
th, td { text-align: right; }

.tile4 {
  margin-top: 1px;
  background: url(u4tiles.png);
}

.tile5 {
  margin-top: 1px;
  background: url(u5tiles.png);
}

#charset, #font {
  font-size: 20pt;
  display: inline-block;
}

.char4, .char5, .charR {
  margin-top: 1px;
  background-size: 256px 128px;
}

.char4 {
  background: url(u4font.png);
}

.char5 {
  background: url(ibm_ch.png);
}

.charR {
  background: url(runes_ch.png);
}

.rt td { 
  text-align: left;
}

</style>

</head>

<body onload="onLoad()">
<p>
<img src="u4tiles.png" width=512 height=512>
<p>
<img src="u5tiles.png" width=512 height=1024>
<p>
<pre id=charset></pre>
<img id=font src="u4font.png" width=512 height=256>
<p>
<canvas id=ibm_ch width=512 height=256></canvas>
<button onclick="save('ibm_ch')">Save</button>
<canvas id=runes_ch width=512 height=256></canvas>
<button onclick="save('runes_ch')">Save</button>
<p>
<img src="u4minimap.png" width=512 height=512>
<p>
<img src="u5britminimap.png" width=512 height=512>
<img src="u5underminimap.png" width=512 height=512>
<p> Histogram of terrain types
<pre id="histogram"></pre>
<p id="signs"></p>

<!-- u4
0 34014 deep h2o 000080
1 10336 med h20 0000ff
2 1933 shallow h2o 8080ff
3 666 marsh 00ffff
4 7159 grass 00ffff
5 4924 brush  00ff00
6 2304 forest 008000
7 2328 hills  brown
8 1745 mtns   cyan
9 7 dungeon gate
10 7 town
11 3 castle
12 4 village
13 1 br..
14 1 ..ita..
15 1 ..in
23 17 bridge
29 1 ruins     
30 7 stonehenge
61 1 ankh 
70 7 a'a  ff0000
76 70 pahoehoe 800000
all else ffffff
-->
