<div id=container>
</div>

<style>
  canvas { margin: 1px; }
</style>

<script src=ultima3.js></script>
<script>
var palette0high = [{r:0,    g:0,    b:0,    a:0xFF},
                    {r:0,    g:0xFF, b:0xFF, a:0xFF},
                    {r:0xFF, g:0,    b:0xFF, a:0xFF},
                    {r:0xFF, g:0xff, b:0xFF, a:0xFF}]
var palette0low = [{r:0,    g:0,    b:0,    a:0xFF},
                   {r:0,    g:0xAA, b:0xAA, a:0xFF},
                   {r:0xAA, g:0,    b:0xAA, a:0xFF},
                   {r:0xAA, g:0xAA, b:0xAA, a:0xFF}]
var palette1high = [{r:0,    g:0,    b:0,    a:0xFF},
                    {r:0x55, g:0xFF, b:0x55, a:0xFF},
                    {r:0xFF, g:0x55, b:0x55, a:0xFF},
                    {r:0xFF, g:0xFF, b:0xFF, a:0xFF}]
var palette1low = [{r:0,    g:0,    b:0,    a:0xFF},
                   {r:0x55, g:0xAA, b:0x55, a:0xFF},
                   {r:0xAA, g:0x55, b:0x55, a:0xFF},
                   {r:0xAA, g:0xAA, b:0x55, a:0xFF}]
var container = document.getElementById("container");

function renderTiles(data) {
  var tilewidth = data[0][0].length;
  var tileheight = data[0].length;
  var tilesPerRow = 16;
  var can = document.createElement("canvas");
  can.setAttribute("width", tilewidth * tilesPerRow);
  can.setAttribute("height", tileheight * data.length / tilesPerRow);
  container.appendChild(can);
  var ctx = can.getContext("2d");
  var pixels = ctx.getImageData(0,0,can.width, can.height);
  function putPixel(x,y,c) {
    var i = (x + y * pixels.width) * 4;
    pixels.data[i++] = c.r;
    pixels.data[i++] = c.g;
    pixels.data[i++] = c.b;
    pixels.data[i] = c.a
  }
  for (var t = 0; t < data.length; ++t) {
    var ox = (t % 16) * (tilewidth);
    var oy = Math.floor(t / 16) * (tileheight);
    var tile = data[t];
    for (var j = 0; j < tile.length; ++j) {
      var row = tile[j];
      for (var i = 0; i < row.length; ++i) {
        putPixel(ox + i, oy + j, palette0high[row[i]]);
      }
    }
  }
  ctx.putImageData(pixels, 0, 0);
  return can;
}

function renderMap(data) {
  var mapwidth = data[0].length;
  var mapheight = data.length;
  var can = document.createElement("canvas");
  can.setAttribute("width", mapwidth * 16);
  can.setAttribute("height", mapheight * 16);
  container.appendChild(can);
  var ctx = can.getContext("2d");
  for (var r = 0; r < data.length; ++r) {
    var row = data[r];
    for (var c = 0; c < row.length; ++c) {
      var tile = row[c] % 80;
      if (row[c] >= 80) console.log(row[c]);
      var sx = 16 * (tile % 16);
      var sy = 16 * Math.floor(tile / 16);
      var dx = 16 * c;
      var dy = 16 * r;
      try {
        ctx.drawImage(tiles, sx, sy, 16, 16, dx, dy, 16, 16);
      } catch (e) {
        console.log(e);
        debugger;
      }
    }
  }
}

function text(t) {
  container.appendChild(document.createElement("br"));
  container.appendChild(document.createTextNode(t));
  container.appendChild(document.createElement("br"));
}

text("Tiles");
var tiles = renderTiles(ultima3.shapes.tiles);
text("Font");
var charset = renderTiles(ultima3.charset.characters);
text("Sosaria");
renderMap(ultima3.sosaria.worldMap);
text("Demo")
renderMap(ultima3.demo.tiles);

for(var t in ultima3.towns) {
  if (ultima3.towns.hasOwnProperty(t)) {
    text(t);
    renderMap(ultima3.towns[t].map);
  }
}

for(var t in ultima3.dungeons) {
  if (ultima3.dungeons.hasOwnProperty(t)) {
    text(t);
    for (var level = 0; level < 8; ++level)
      renderMap(ultima3.dungeons[t].levelMaps[level]);
  }
}

text("Conflict maps");
for(var t in ultima3.conflicts) {
  if (ultima3.conflicts.hasOwnProperty(t)) {
    renderMap(ultima3.conflicts[t].map);
  }
}

text("Images");
for(var t in ultima3.images) {
  if (ultima3.images.hasOwnProperty(t)) {
    renderMap(ultima3.images[t].tiles);
  }
}

// http://www.matsblog.com/static/matsblog/files/JSON-js-prettyPrint.js
(function () {
   var INTEND = "  ";
   var NEWLINE = "\n";
   var intendLevel = 0;
   var intend = function(a) {
     for (var l=0; l<intendLevel; l++) {
       a[a.length] = INTEND;
     }
     return a;
   };

   var newline = function(a) {
     a[a.length] = NEWLINE;
     return a;
   };

   var m = {
     '\b': '\\b',
     '\t': '\\t',
     '\n': '\\n',
     '\f': '\\f',
     '\r': '\\r',
     '"' : '\\"',
     '\\': '\\\\'
   },
   s = {
     array: function (x) {
       var a = ['['], b, f, i, l = x.length, v;
                a = newline(a);
                intendLevel++;
                for (i = 0; i < l; i += 1) {
                  v = x[i];
                  f = s[typeof v];
                  if (f) {
                    v = f(v);
                    if (typeof v == 'string') {
                      if (b) {
                        a[a.length] = ',';
                        a = newline(a);
                      }
                      a = intend(a);
                      a[a.length] = v;
                      b = true;
                    }
                  }
                }
                intendLevel--;
                a = newline(a);
                a = intend(a);
                a[a.length] = ']';
       return a.join('');
     },
     'boolean': function (x) {
       return String(x);
     },
     'null': function (x) {
       return "null";
     },
     number: function (x) {
       return isFinite(x) ? String(x) : 'null';
     },
     object: function (x, formatedOutput) {
       if (x) {
         if (x instanceof Array) {
           return s.array(x);
         }
         var a = ['{'], b, f, i, v;
                  a = newline(a);
                  intendLevel++;
                  for (i in x) {
                    v = x[i];
                    f = s[typeof v];
                    if (f) {
                      v = f(v);
                      if (typeof v == 'string') {
                        if (b) {
                          a[a.length] = ',';
                          a = newline(a);
                        }
                        a = intend(a);
                        a.push(s.string(i), ' : ', v);
                        b = true;
                      }
                    }
                  }
                  intendLevel--;
                  a = newline(a);
                  a = intend(a);
                  a[a.length] = '}';
         return a.join('');
       }
       return 'null';
     },
     string: function (x) {
       if (/["\\\x00-\x1f]/.test(x)) {
         x = x.replace(/([\x00-\x1f\\"])/g, function(a, b) {
                         var c = m[b];
                         if (c) {
                           return c;
                         }
                         c = b.charCodeAt();
                        return '\\u00' +
                           Math.floor(c / 16).toString(16) +
                           (c % 16).toString(16);
                       });
       }
       return '"' + x + '"';
     }
   };

   Object.prototype.toJSONString = function () {
     return s.object(this);
   };

   Array.prototype.toJSONString = function () {
     return s.array(this);
   };
 })();

text("Roster");
var pre = document.createElement("pre");
pre.appendChild(document.createTextNode(ultima3.roster.toJSONString()));
container.appendChild(pre);

text("Party");
pre = document.createElement("pre");
pre.appendChild(document.createTextNode(ultima3.party.toJSONString()));
container.appendChild(pre);

</script>